In [1]:
import os

os.environ["MODIN_ENGINE"] = "dask"  # Modin will use Dask
from distributed import Client
client = Client(memory_limit='8GB')
import modin.pandas as pd

UserWarning: The Dask Engine for Modin is experimental.

In [2]:
import pandas as old_pd

In [3]:
%time loans_df = pd.read_csv("data/kiva_loans.csv")
loans_df.head()

CPU times: user 636 ms, sys: 338 ms, total: 974 ms
Wall time: 2.39 s

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

In [4]:
%time locations_df = pd.read_csv("data/kiva_mpi_region_locations.csv")

CPU times: user 50.3 ms, sys: 9.46 ms, total: 59.8 ms
Wall time: 68.3 ms

In [5]:
%time loan_theme_df = pd.read_csv("data/loan_theme_ids.csv")

CPU times: user 73.2 ms, sys: 28.4 ms, total: 102 ms
Wall time: 207 ms

In [6]:
loans_df.dtypes

id                      int64
funded_amount         float64
loan_amount           float64
activity               object
sector                 object
use                    object
country_code           object
country                object
region                 object
currency               object
partner_id            float64
posted_time            object
disbursed_time         object
funded_time            object
term_in_months        float64
lender_count            int64
tags                   object
borrower_genders       object
repayment_interval     object
date                   object
dtype: object

In [7]:
locations_df.head()

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754
3,"Balkh, Afghanistan",AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537
4,"Bamyan, Afghanistan",AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210

In [8]:
loan_theme_df.head()

       id    Loan Theme ID          Loan Theme Type  Partner ID
0  638631  a1050000000skGl                  General       151.0
1  640322  a1050000000skGl                  General       151.0
2  641006  a1050000002X1ij         Higher Education       160.0
3  641019  a1050000002X1ij         Higher Education       160.0
4  641594  a1050000002VbsW  Subsistence Agriculture       336.0

In [9]:
%time old_loans_df = old_pd.read_csv("data/kiva_loans.csv")

CPU times: user 3.1 s, sys: 221 ms, total: 3.32 s
Wall time: 3.27 s

In [10]:
%time  old_locations_df = old_pd.read_csv("data/kiva_mpi_region_locations.csv")

CPU times: user 7.45 ms, sys: 4.43 ms, total: 11.9 ms
Wall time: 10.3 ms

In [12]:
%time  parking_df = pd.read_csv('data/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv')

CPU times: user 2.95 s, sys: 2.57 s, total: 5.52 s
Wall time: 41.1 s

In [11]:
parking_df.dtypes

NameError: name 'parking_df' is not defined

In [13]:
%time old_parking_df = old_pd.read_csv('data/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv')

DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
distributed.comm.tcp - WARNING - Closing dangling stream in <TCP  local=tcp://127.0.0.1:62365 remote=tcp://127.0.0.1:62326>

CPU times: user 46.7 s, sys: 7.63 s, total: 54.3 s
Wall time: 54.5 s

distributed.comm.tcp - WARNING - Closing dangling stream in <TCP  local=tcp://127.0.0.1:62367 remote=tcp://127.0.0.1:62326>

In [12]:
import numpy as np

***Append Operations ***

In [13]:
%time new_df2 = loans_df.append(loans_df)

CPU times: user 5.44 ms, sys: 3.72 ms, total: 9.16 ms
Wall time: 7.72 ms

In [14]:
%time new_df1 = old_loans_df.append(old_loans_df)

CPU times: user 615 ms, sys: 88.3 ms, total: 704 ms
Wall time: 699 ms

In [17]:
%time parking_df.head()

CPU times: user 2.74 ms, sys: 2.56 ms, total: 5.3 ms
Wall time: 7.25 ms

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
%time old_parking_df.head()

CPU times: user 268 µs, sys: 31 µs, total: 299 µs
Wall time: 282 µs

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Concat Operations ***

In [15]:
%time df = pd.concat([loans_df for _ in range(5)])

CPU times: user 6.83 ms, sys: 1.02 ms, total: 7.85 ms
Wall time: 6.24 ms

In [16]:
%time df1 = old_pd.concat([old_loans_df for _ in range(5)])

CPU times: user 1.64 s, sys: 278 ms, total: 1.91 s
Wall time: 1.91 s

In [17]:
loans_df.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

***SUM OPERATIONS ***

In [18]:
%time loans_df['lender_count'].sum()

CPU times: user 40.1 ms, sys: 4.13 ms, total: 44.2 ms
Wall time: 157 ms

13820730

In [19]:
%time old_loans_df['lender_count'].sum()

CPU times: user 1.26 ms, sys: 516 µs, total: 1.77 ms
Wall time: 926 µs

13820730

In [24]:
%time parking_df['Summons Number'].sum()

CPU times: user 160 ms, sys: 29.8 ms, total: 190 ms
Wall time: 3.11 s

59029018174512679

In [25]:
%time old_parking_df['Summons Number'].sum()

CPU times: user 18.4 ms, sys: 59.3 ms, total: 77.7 ms
Wall time: 87.8 ms

59029018174512679

***MEAN OPERATIONS ***

In [20]:
%time loans_df.groupby('country').mean()

UserWarning: Large object of size 3.24 MB detected in task graph:
  (0, <function BasePandasFrame._build_mapreduce_fun ... -d62eae611dd4')
Consider scattering large objects ahead of time
with client.scatter to reduce scheduler burden and
keep data on workers

    future = client.submit(func, big_data)    # bad

    big_future = client.scatter(big_data)     # good
    future = client.submit(func, big_future)  # good

CPU times: user 1.04 s, sys: 53.1 ms, total: 1.09 s
Wall time: 3.12 s

,id,funded_amount,loan_amount,partner_id,term_in_months,lender_count
country,,,,,,
Afghanistan,9.145775e+05,7000.000000,7000.000000,412.000000,7.000000,256.000000
Albania,9.464003e+05,1287.487073,1378.748707,239.039297,23.869700,42.904343
Armenia,9.913564e+05,1296.104159,1496.396710,158.777778,28.339358,37.140076
Azerbaijan,8.449189e+05,1387.956298,1485.192802,59.034447,16.613368,42.724422
Belize,7.870861e+05,912.200000,912.200000,273.000000,51.016000,33.472000
...,...,...,...,...,...,...
Vietnam,9.926573e+05,1259.955732,1373.369916,204.428479,17.623905,37.272987
Virgin Islands,1.081654e+06,0.000000,5000.000000,NaN,24.000000,0.000000
Yemen,8.271608e+05,771.325119,812.775616,205.000000,17.668396,20.888889
Zambia,9.967362e+05,1464.221939,1544.228316,255.445153,17.780612,47.114796
Zimbabwe,9.130567e+05,836.074616,854.586019,317.636837,9.479177,24.975706

In [21]:
%time old_loans_df.groupby('country').mean()

CPU times: user 135 ms, sys: 34.3 ms, total: 169 ms
Wall time: 166 ms

,id,funded_amount,loan_amount,partner_id,term_in_months,lender_count
country,,,,,,
Afghanistan,9.145775e+05,7000.000000,7000.000000,412.000000,7.000000,256.000000
Albania,9.464003e+05,1287.487073,1378.748707,239.039297,23.869700,42.904343
Armenia,9.913564e+05,1296.104159,1496.396710,158.777778,28.339358,37.140076
Azerbaijan,8.449189e+05,1387.956298,1485.192802,59.034447,16.613368,42.724422
Belize,7.870861e+05,912.200000,912.200000,273.000000,51.016000,33.472000
...,...,...,...,...,...,...
Vietnam,9.926573e+05,1259.955732,1373.369916,204.428479,17.623905,37.272987
Virgin Islands,1.081654e+06,0.000000,5000.000000,NaN,24.000000,0.000000
Yemen,8.271608e+05,771.325119,812.775616,205.000000,17.668396,20.888889
Zambia,9.967362e+05,1464.221939,1544.228316,255.445153,17.780612,47.114796
Zimbabwe,9.130567e+05,836.074616,854.586019,317.636837,9.479177,24.975706

In [28]:
%time parking_df.groupby('Vehicle Make').mean()

distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker

KeyboardInterrupt:

In [29]:
%time old_parking_df.groupby('Vehicle Make').mean()

distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker

CPU times: user 4.89 s, sys: 8.72 s, total: 13.6 s
Wall time: 18.8 s

,Summons Number,Violation Code,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
Vehicle Make,,,,,,,,,,,,,,,,,,,,,
(UPS),1.357272e+09,20.000000,17570.0,24890.0,10210.000000,0.000000e+00,13.000000,13.000000,13.000000,923108.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
+,1.357657e+09,66.000000,23380.0,21520.0,21620.000000,0.000000e+00,113.000000,113.000000,171.000000,952421.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
",E/BE",1.356611e+09,46.000000,0.0,40404.0,40404.000000,2.014101e+07,76.000000,76.000000,76.000000,931444.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
.,1.355287e+09,35.333333,26720.0,9450.0,11621.666667,6.710204e+06,23.333333,23.333333,137.333333,675508.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
.ISUZ,1.361280e+09,46.000000,34550.0,10610.0,10810.000000,2.015043e+07,14.000000,14.000000,161.000000,953638.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZUMA,1.360222e+09,43.200000,23464.0,23740.0,12706.000000,4.028086e+06,46.400000,46.400000,30.000000,735122.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZUSU,1.358873e+09,78.000000,37570.0,11710.0,0.000000,2.015041e+07,34.000000,34.000000,137.000000,946814.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZUTK,1.370200e+09,21.000000,9380.0,5680.0,5780.000000,0.000000e+00,72.000000,72.000000,0.000000,540121.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZUZUK,1.362352e+09,33.000000,36730.0,12660.0,21650.000000,2.014542e+07,31.500000,31.500000,96.000000,941606.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
`,1.356241e+09,21.000000,36180.0,14030.0,14080.000000,2.015121e+07,63.000000,63.000000,63.000000,937904.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***CSV OPERATIONS ***

In [22]:
%time loans_df.to_csv('out.csv', sep='\t')

UserWarning: `DataFrame.to_csv` defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.

CPU times: user 11.3 s, sys: 1 s, total: 12.3 s
Wall time: 13.7 s

In [23]:
%time old_loans_df.to_csv('out.csv',sep='\t')

CPU times: user 8.07 s, sys: 322 ms, total: 8.39 s
Wall time: 8.31 s

In [32]:
%time parking_df.to_csv('out.csv', sep='\t')

UserWarning: `DataFrame.to_csv` defaulting to pandas implementation.

SystemError: <built-in method item of numpy.ndarray object at 0x204981620> returned a result with an error set

In [ ]:
%time old_parking_df.to_csv('out.csv', sep='\t')

distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Restarting worker

***MERGE OPERATION ****

In [24]:
%time merged_df = pd.merge(loans_df, locations_df, on="country")

UserWarning: `DataFrame.merge` defaulting to pandas implementation.

CPU times: user 21 s, sys: 5.77 s, total: 26.7 s
Wall time: 38.2 s

In [25]:
%time old_merged_df = old_pd.merge(old_loans_df, old_locations_df, on="country")

CPU times: user 5.21 s, sys: 1.36 s, total: 6.57 s
Wall time: 6.55 s

***IS NULL OPERATION ***

In [26]:
%time pd.isnull(loans_df["use"])

CPU times: user 10.2 ms, sys: 13.6 ms, total: 23.8 ms
Wall time: 41 ms

0         False
1         False
2         False
3         False
4         False
          ...
671200    False
671201    False
671202     True
671203    False
671204    False
Name: use, Length: 671205, dtype: bool

In [27]:
%time old_pd.isnull(old_loans_df["use"])

CPU times: user 28 ms, sys: 1.02 ms, total: 29 ms
Wall time: 27.9 ms

0         False
1         False
2         False
3         False
4         False
          ...
671200    False
671201    False
671202     True
671203    False
671204    False
Name: use, Length: 671205, dtype: bool

In [17]:
%time pd.isnull(parking_df["Meter Number"])

CPU times: user 11.5 ms, sys: 1.59 ms, total: 13.1 ms
Wall time: 12.4 ms

0          False
1          False
2          False
3          False
4          False
           ...
9100273     True
9100274     True
9100275     True
9100276    False
9100277     True
Name: Meter Number, Length: 9100278, dtype: bool

In [18]:
%time old_pd.isnull(old_parking_df["Meter Number"])

NameError: name 'old_parking_df' is not defined

***Fillna Operation***

In [28]:
%time loans_df.fillna(value=0)

CPU times: user 4.09 ms, sys: 1.48 ms, total: 5.56 ms
Wall time: 4.85 ms

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,0,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,0,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,0,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,0,female,monthly,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671200,1340323,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 16:55:34+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,female,monthly,2017-07-25
671201,1340316,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,0,KES,138.0,2017-07-25 06:14:08+00:00,2017-07-24 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,1,0,female,monthly,2017-07-25
671202,1340334,0.0,25.0,Games,Entertainment,0,KE,Kenya,0,KES,138.0,2017-07-26 00:02:07+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,0,monthly,2017-07-26
671203,1340338,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,0,KES,138.0,2017-07-26 06:12:55+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,female,monthly,2017-07-26
671204,1340339,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,0,KES,138.0,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,female,monthly,2017-07-26

In [29]:
%time old_loans_df.fillna(value=0)

CPU times: user 1.02 s, sys: 99.1 ms, total: 1.11 s
Wall time: 1.11 s

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,0,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,0,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,0,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,0,female,monthly,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671200,1340323,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 16:55:34+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,female,monthly,2017-07-25
671201,1340316,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,0,KES,138.0,2017-07-25 06:14:08+00:00,2017-07-24 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,1,0,female,monthly,2017-07-25
671202,1340334,0.0,25.0,Games,Entertainment,0,KE,Kenya,0,KES,138.0,2017-07-26 00:02:07+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,0,monthly,2017-07-26
671203,1340338,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,0,KES,138.0,2017-07-26 06:12:55+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,female,monthly,2017-07-26
671204,1340339,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,0,KES,138.0,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,0,13.0,0,0,female,monthly,2017-07-26

In [21]:
%time parking_df.fillna(value=0)

CPU times: user 8.83 ms, sys: 1.54 ms, total: 10.4 ms
Wall time: 9.09 ms

KeyboardInterrupt:

In [ ]:
%time old_parking_df.fillna(value=0)